<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinho.hycu.boardNotice.repository.mapper.BoardListMapper">
	<insert id="insertNoticeBoardList" useGeneratedKeys="true" keyProperty="seq" >
		INSERT INTO boardlist(
			userid,
			subject,
			contents,
			password,
			create_dt
		) VALUES(
			#{userid},
			#{subject},
			#{contents},
			#{password},
			now()
		)
	</insert>
</mapper>