<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinho.hycu.boardNotice.repository.mapper.MemberMapper">
	<insert id="memberJoin" useGeneratedKeys="true" keyProperty="seq" >
		insert into MEMBER(
			userid,
		    password,
		    email,
		    full_name,
		    registration_date,
		    update_date
		) values (
			#{userid},
			#{password},
			#{email},
			#{fullName},
			now(),
			now()
		)
	</insert>
	
	<!-- 아이디중복검사 -->
	<select id="findByUserID" parameterType="Member" resultType="Member">
		select 
			userid
		FROM MEMBER
		WHERE userid = #{userid}
	</select>
	
	<!-- 이메일중복검사 -->
	<select id="findByEmail" parameterType="Member" resultType="Member">
		select 
			email
		FROM MEMBER
		WHERE email = #{email}
	</select>
	
</mapper>